@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v32-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v32-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v32-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
    --primary-text-color: #011C44;
    --brand-dark-color: #2B7FFF;
    --brand-white-color: #FFFFFF;
    --grey-color: #4A4A4A;
}

body{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

ul li{
    list-style: none;
}

/*Header*/
.header-link{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 18px;
    font-family: 'Play', sans-serif;
}

.header-link:hover{
    color: var(--brand-dark-color);
}


/*Hero section*/
.main-title{
    text-transform: capitalize;
    line-height: 0.8;
    font-size: 140px;
    font-weight: 700;
    font-family: 'Play', sans-serif;
    color: var(--brand-dark-color);
}

.button-order{
    background-color: var(--brand-dark-color);
    color: var(--brand-white-color);
    border: 2px solid var(--brand-dark-color);
    border-radius: 32px;
    font-weight: 600;
}

.button-order:hover{
    background-color: transparent;
    color: var(--primary-text-color);
    border-radius: 32px;
}

.text-order{
    color: var(--grey-color);
    font-size: 12px;
    line-height: 1.5;
}

/*About section*/
.about-title{
    font-weight: 700;
    font-size: 64px;
    font-family: 'Play', sans-serif;
}

.about-title .accent{
    color: var(--brand-dark-color);
    text-transform: capitalize;
}

.about-section-paragraph{
    line-height: 1.7;
    font-size: 22px;
    font-weight: 600;
}

/*Why us section*/
.reasons-title{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Play', sans-serif;
}

.reasons-title .accent{
    color: var(--brand-dark-color);
}

.reasons-paragraph{
    line-height: 1.3;
}

/*Procedures section*/
.procedures-title{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Play', sans-serif;
}

.procedures-title .accent{
    color: var(--brand-dark-color);
}

/*Contact section*/
.address-title{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Play', sans-serif;
}

.address-title .accent{
    color: var(--brand-dark-color);
}

/*Footer*/
footer{
    background-color: var(--primary-text-color);
}

.footer-link{
    color: var(--brand-white-color);
    font-size: 16px;
}